*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #3d3c3c;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  -ms-grid-columns: 1fr minmax(min-content, 100rem) 1fr;
      grid-template-columns: 1fr minmax(-webkit-min-content, 100rem) 1fr;
      grid-template-columns: 1fr minmax(min-content, 100rem) 1fr;
  grid-gap: 3rem;
  background-color: #f1eeee;
}

.container::before, .container::after {
  content: '';
  border-bottom: 1px solid #d3cece;
  background-color: #fff;
}

.container::before {
  margin-right: -3rem;
}

.container::after {
  margin-left: -3rem;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #3d3c3c;
}

.link {
  text-decoration: none;
  color: #0543b7;
  font-weight: 700;
}

.link:active {
  color: #d3cece;
}

.footer {
  grid-row: 4 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  margin-right: 1.5rem;
}

.footer__link:link, .footer__link:visited {
  font-size: 1.1rem;
}

.footer .copyright {
  font-size: 1rem;
  font-weight: 700;
}

.gallery {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #d3cece;
}

.gallery-nav {
  font-size: 1.25rem;
}

.gallery-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-nav__item {
  margin: auto 3rem;
}

.gallery-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.gallery-nav__link:link, .gallery-nav__link:visited {
  text-decoration: none;
  font-weight: 700;
  color: #d3cece;
  text-transform: uppercase;
}

.gallery-nav__link:active, .gallery-nav__link:focus {
  color: #3d3c3c;
  border-top: 1px solid currentColor;
  margin-top: -1px;
}

.gallery-nav__icon {
  fill: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.gallery-grid__post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  position: relative;
}

.gallery-grid__item:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.gallery-grid__item:hover .gallery-grid__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-grid__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.gallery-grid__stat {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery-grid__stat span:not(:last-child) {
  margin-right: 2.5rem;
}

.gallery-grid__icon {
  fill: currentColor;
  margin-right: 0.3rem;
}

.header {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.user {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  -ms-grid-columns: 1fr min-content minmax(min-content, 45rem) 1fr;
      grid-template-columns: 1fr -webkit-min-content minmax(-webkit-min-content, 45rem) 1fr;
      grid-template-columns: 1fr min-content minmax(min-content, 45rem) 1fr;
  grid-row-gap: 1.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__photo {
  border-radius: 50%;
  width: 18rem;
  margin-right: 5rem;
  margin-left: 5rem;
  grid-row: 1 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.user__username {
  font-size: 3rem;
  font-weight: 300;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.user__stats {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: lowercase;
}

.user__stats > *:not(:last-child) {
  margin-right: 3rem;
}

.user__stats .count {
  font-weight: 700;
}

.user__details {
  grid-row: 3 / -1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.user__details > *:not(:last-child) {
  margin-bottom: 1rem;
}

.user__details--name {
  font-weight: 700;
}

.navbar {
  background-color: #fff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem 1fr 20rem;
      grid-template-columns: 20rem 1fr 20rem;
  grid-gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 0 1.3rem 0;
  border-bottom: 1px solid #d3cece;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: stretch;
}

.logo:link, .logo:visited {
  text-decoration: none;
  color: #3d3c3c;
}

.logo:active {
  color: #d3cece;
}

.logo:active .logo__icon {
  fill: #d3cece;
}

.logo:active .logo__text {
  border-left: 1px solid #d3cece;
}

.logo__icon {
  margin: 1rem 1rem 1rem 0;
}

.logo__text {
  font-size: 2rem;
  font-family: "Satisfy", cursive;
  padding-left: 1rem;
  border-left: 1px solid #3d3c3c;
}

.search-bar {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar__text {
  border: 1px solid #d3cece;
  border-radius: 4px;
  color: #3d3c3c;
  font-size: 1.5rem;
  text-align: left;
  padding: 0.4rem 3.5rem;
  width: 100%;
}

.search-bar__text::-webkit-input-placeholder {
  color: #d3cece;
}

.search-bar__text:-ms-input-placeholder {
  color: #d3cece;
}

.search-bar__text::-ms-input-placeholder {
  color: #d3cece;
}

.search-bar__text::placeholder {
  color: #d3cece;
}

.search-bar__text:focus {
  outline: none;
}

.search-bar__text:focus ~ .search-bar__icon--close {
  display: block;
}

.search-bar__icon {
  width: 2rem;
  height: 2rem;
  fill: #d3cece;
}

.search-bar__icon--search {
  position: absolute;
  left: 1rem;
}

.search-bar__icon--close {
  position: absolute;
  right: 1rem;
  display: none;
}

.nav {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link:link, .nav__link:visited {
  text-decoration: none;
}

.nav__link:active .icon {
  fill: #d3cece;
}
/*# sourceMappingURL=main.css.map */