// @import 'base';

.icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: $color-gray-dark;
}

.link {
  text-decoration: none;
  color: $color-blue;
  font-weight: 700;

  &:active {
    color: $color-gray-light;
  }
}
