// @import 'base';

.footer {
  // background-color: lightcoral;
  grid-row: 4 / -1;
  grid-column: 2 / 3;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  text-transform: uppercase;
  padding-bottom: 3rem;

  &__list {
    // border: 2px solid skyblue;
    list-style: none;

    display: flex;
  }

  &__item {
    margin-right: 1.5rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.1rem;
    }
  }

  .copyright {
    font-size: 1rem;
    font-weight: 700;
  }
}
